*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.app{

    height: 100vh;
    width: 100%;
    

    .sections{
      scroll-behavior: smooth;
      overflow: scroll;
      height: calc(100vh - 70px);
      width: 100vw;
      background: rgb(25, 55, 94);
      position: relative;
      top: 70px;
      scroll-snap-type: y mandatory;

      > *{
        scroll-snap-align: start;
        height: calc(100vh - 70px);
        width: 100vw;

      }        
    
    }




    }